{{#each this}}
<div class="card border-0 bg-light">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="card-body pr-0">
        <h5 class="card-title">{{this.name}}</h5>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            population
            <span>{{this.population}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            capital
            <span>{{this.capital}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            languages
            <ul>
              {{#each this.languages}}
              <li>{{name}}</li>
              {{/each}}
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <img src="{{this.flag}}" class="w-100 h-100 fit-cover" alt="{{this.name}} flag">
    </div>
  </div>
</div>
{{/each}}